<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asterian</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<style>
    td {
        vertical-align: middle;
    }
</style>

<body>
    <div class="root">
        <h2 class="text-center p-3" v-if="rubber_price_tocom == null || rubber_price_shfe == null">ရာဘာစျေး
            ရယူနေပါသည်<br>ခေတ္တစောင့်ပါ</h2>
        <div class="p-3 text-center" v-if="rubber_price_tocom != null && rubber_price_shfe != null">
            <div class="table-responsive">
                <table class="table align-middle table-bordered caption-top">
                    <caption>Tocom Japan မှ ရာဘာစျေး</caption>
                    <thead>
                        <tr>
                            <td>စျေးနှုန်း</td>
                            <td>ပြောင်းလဲနှုန်း</td>
                            <td>Trading Volume</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{rubber_price_tocom.currentPrice}}</td>
                            <td :class="{'text-danger' : !tocom_price_change, 'text-success' : tocom_price_change}">
                                {{tocom_price_compare}}</td>
                            <td>{{rubber_price_tocom.TradingVolume}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive" v-if="rubber_price_shfe != null">
                <table class="table table-sm align-middle table-bordered caption-top">
                    <caption>SHFE မှ ရာဘာစျေး</caption>
                    <thead>
                        <tr>
                            <td>Contract</td>
                            <td>Last</td>
                            <td>Chg</td>
                            <td>Open Interest</td>
                            <td>Volume</td>
                            <td>Bid-Ask</td>
                            <td>Pre clear</td>
                            <td>Open</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="shfe_rubber in rubber_price_shfe.delaymarket">
                            <td class="p-2">{{shfe_rubber.contractname}}</td>
                            <td class="p-2">{{shfe_rubber.lastprice}}</td>
                            <td class="p-2"
                                :class="{'text-danger' : !upperdown_watcher(shfe_rubber.upperdown), 'text-success' : upperdown_watcher(shfe_rubber.upperdown)}">
                                {{shfe_rubber.upperdown}}</td>
                            <td class="p-2">{{shfe_rubber.openinterest}}</td>
                            <td class="p-2">{{shfe_rubber.volume}}</td>
                            <td class="p-2">{{shfe_rubber.bidprice}}/{{shfe_rubber.askprice}}</td>
                            <td class="p-2">{{shfe_rubber.presettlementprice}}</td>
                            <td class="p-2">{{shfe_rubber.openprice}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
<script>
    const whole_app = new Vue({
        el: '.root',
        data: {
            rubber_price_tocom: null,
            rubber_price_shfe: null,
        },
        methods: {
            new_data_today: function () {
                console.log(this.new_data_today_add_name, this.new_data_today_add_once, this.new_data_today_add_both);
                document.querySelector(".modal_close_button_1").click();
            },
            new_member_add: function () {
                document.querySelector(".modal_close_button_2").click();
            },
            get_tocom: async function () {
                let tocom_result = await axios.get('https://cf.market-info.jp/jpx/json/commodity_value?lang=en');
                this.rubber_price_tocom = tocom_result.data['RSS3 Rubber Futures'];
            },
            get_rubber_price: function () {
                axios.get('http://www.shfe.com.cn/data/delaymarket_ru.dat')
                    .then(res => {
                        console.log(res.data);
                        //res = res.data;
                        //this.rubber_price_tocom = res.tocom_data;
                        //this.rubber_price_shfe = res.shfe_data;
                    });
            },
            upperdown_watcher: function (input_price_change) {
                if (input_price_change != 0) {
                    return input_price_change < 0;
                }
                return true;
            },
        },
        computed: {
            day: function () {
                return String(new Date().getDate()).padStart(2, '0');
            },
            month: function () {
                return String(new Date().getMonth() + 1).padStart(2, '0');
            },
            year: function () {
                return new Date().getFullYear();
            },
            tocom_price_change: function () {
                return this.rubber_price_tocom.previousDayComparison > 0;
            },
            tocom_price_compare: function () {
                return this.tocom_price_change ? "+" + this.rubber_price_tocom.previousDayComparison : this.rubber_price_tocom.previousDayComparison;
            }
        },
        created() {
            this.get_rubber_price();
        }
    });
</script>

</html>